@import "../../styles/abstract/abstracts";
.homePage {
  @include flex-center;
  .homeTitle {
    font-size: 1.5rem;
    font-family: poppinsBold;
    text-decoration: underline;
  }
  .scroll {
    display: flex;
    flex-direction: column;
  }
}
