@import "../../styles/abstract/abstracts";
.header {
  @include flex-between;
  .logoSection {
    @include flex-center-vert;
    gap: 0.5rem;
    .headerTitle {
      font-family: poppinsBold;
      text-transform: uppercase;
      color: $highlightedText;
      font-size: $logoFontSize;
    }
  }
}
